section{background:#f8f6f2;width:1050px;margin:18px auto;overflow:hidden;border-radius:18px;}
.essay-box{width:1050px;display:inline-block;padding:10px;}
.essay-top{width:710px;height: 40px;float:left;margin-left: 1em;position:relative;}
.essay{width: 1000px;height: 700px;float:left;margin: 1em;position:relative;}
