@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dian:before { content: "\e604"; }
.icon-dian1:before { content: "\e60f"; }
.icon-pinglun:before { content: "\e60d"; }
.icon-biaoqian:before { content: "\e600"; }
.icon-guanzhu:before { content: "\e601"; }
.icon-lianjie:before { content: "\e602"; }
.icon-jikediancanicon05:before { content: "\e603"; }
.icon-yonghu:before { content: "\e607"; }
.icon-zan:before { content: "\e60b"; }
.icon-lanmu:before { content: "\e608"; }
.icon-zuixindingyue:before { content: "\e606"; }
.icon-shijian:before { content: "\e609"; }
.icon-xihuan:before { content: "\e60e"; }
.icon-remen:before { content: "\e605"; }
.icon-huifu:before { content: "\e60c"; }
.icon-liulan:before { content: "\e60a"; }
