@charset "UTF-8";
.w_login_header{position:absolute;height:80px;z-index:1000;top:0px;width:1000px;left:50%;margin-left:-500px;}
.w_loginBanner{     
    width: 653px;
    height: 521px;
    position: fixed;
    z-index: 1; 
    left: 34%;
    top: 20%;
    }
.w_login_header a img{height:45px;margin-top:20px;}
.w_loin_link{text-align:center;}
.w_loin_link a{line-height:30px;font-size:14px;color:#666;}
.w_loin_link span{margin-left:5px;margin-right:5px;color:#ccc;}
.w_login_footer{padding-top:20px;padding-bottom:20px;}
.w_login_footer p.text{font-size:14px;line-height:24px;color:#dbc518;text-align:center;}

.sller_form{      
    box-shadow: rgba(219, 99, 47, 0.97) 0px 1px 3px 1px;
    padding: 110px;
    height: 300px;
    width: 430px;
    background: #c27a6e29;
    border-radius: 5px;
    overflow: hidden;
    }
.sller_form h3{    font-size: 35px;
    line-height: 32px;
    text-align: center;
    margin: 0px;
    color: antiquewhite;
    font-family: monospace;}
.sller_form p{    font-size: 14px;
    font-family: initial;
   color:#dbc518;
    line-height: 18px;
    text-align: center;
    padding-bottom: 10px;}
.seller_line{height:45px;margin:20px 0px 0px 0px;}
.seller_line .seller_input{    width: 380px;font-size:14px;border:1px solid #eee;padding:5px 5px 5px 40px; height: 40px;border-radius:3px;}
.seller_line .seller_input.user{    font-size: 16px;
    font-family: cursive;background:url(../img/selell_user_1.png) 10px center no-repeat #e0a5c691;background-size:20px;}
.seller_line .seller_input.user:focus{color:#0099cc;border:1px solid #0099cc;background:url(../img/selell_user.png) 10px center no-repeat #ffffff;background-size:20px;}

.seller_line .seller_input.pwd{    font-size: 16px;
    font-family: cursive;background:url(../img/selell_user-3.png) 10px center no-repeat #e0a5c691;background-size:20px;}
.seller_line .seller_input.pwd:focus{color:#0099cc;border:1px solid #0099cc;background:url(../img/selell_user_2.png) 10px center no-repeat #ffffff;background-size:20px;}


.seller_line .seller_button{    opacity: 0.7;
    font-size: 25px;
    font-family: "kaiti";
    padding: 5px 5px 5px 5px;
    background: #d785b4;
    color: #fff;
    border: 0px;
    width: 100%;
    height: 50px;
    border-radius: 7px;}
.seller_line .seller_button:hover{opacity:1}
.bind-login {
    position: relative;
    width: 310px;
    margin: 30px auto;
    border-top: 1px solid #ddd;
    text-align:center;
    padding: 19px 0 17px;}
.bind-login .title {
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -64px;
    color: #999;
    width: 128px;
    background: #fff;
    text-align: center;
}
.bind-login a{line-height:24px;}
.bind-login span.gk{color:#ddd;line-height:24px;}
.bind-login a{margin-left:5px;margin-right:5px;}


/*当页面宽度大于等于767px触发 不是手机端显示的css*/
@media (min-width:800px){
    body{
		background-image: url("../img/login_b.jpg");
    }
}
/*当页面宽度小于等于766px触发 手机端显示的css*/
@media (max-width:800px){
    body{
    	 background-image: url("../img/login_p.jpg");
    }
    .w_loginBanner{width: 653px;
    height: 521px;
    position: fixed;
    z-index: 1; 
    left: 15%;
    top: 20%;
    }
    .sller_form {
    box-shadow: rgba(219, 99, 47, 0.97) 0px 1px 3px 1px;
    padding: 30px;
    height: 290px;
    width: 300px;
    background: #c27a6e29;
    border-radius: 5px;
    overflow: hidden;}
    canvas{
    	visibility: hidden;
    }
    
}

